.custom-bg-img-body {
    background-image: URL(./assets/images/5630939.jpg);
    background-size: cover;
}

.custom-bg-navbar {
    background-color: transparent !important;
}

.navbar-brand,
.nav-link,
.custom-color-main-card-title {
    color: white !important;
}

.custom-bg-color-footer-style {
    background-color: #f8f9fa;
}

.custom-height-textarea-style {
    height: 10rem !important;
}